<div class="flex flex-col h-full bg-slate-50 py-5 overflow-auto">
    <!-- Lookup-Header -->
    <div class="pb-2 border-b border-slate-200">
        <div class="flex items-center justify-between px-4 text-sky-800">
            <h6 class="font-YekanBakhBold">{{this.id ? "ویرایش" : ""}} {{masterProperties.title}} {{this.id ? "" :
                "جدید"}}</h6>
            <div class="flex items-center gap-4">

            </div>
        </div>
    </div>

    <div style="position: relative;" class="flex flex-col h-full overflow-auto">
        <div class="flex flex-col py-2 px-4">
            <form [formGroup]="detailForm">

                <!-- Lookup-Item -->
                <div>
                    <!-- Item-Content -->
                    <div class="lookup-content lookup-content--active">
                        <div class="grid grid-cols-12 items-center justify-between gap-4">
                            @for (fc of formControls; track fc.column?.name){
                            @if((!fc.column?.visible)){
                            <input type="hidden" [id]="'col_' + fc.column?.name"
                                class="w-full h-full outline-none bg-inherit" [formControl]="fc.control" />
                            }
                            @else if (fc.column?.type === "bool") {
                            <app-check-box-component class="flex flex-col h-full gap-y-1 text-xs"
                                [metroFormControl]="fc" [style]="getColSpanClass(fc)">
                            </app-check-box-component>
                            }
                            @else if(fc.column?.type === "number" && fc.column?.enum){
                            <app-drop-down-component class="flex flex-col h-full gap-y-1 text-xs"
                                [metroFormControl]="fc" [style]="getColSpanClass(fc)"></app-drop-down-component>
                            }
                            @else if(fc.column && fc.column.lookup && !fc.column.disabled && !fc.column.readonly){
                            <div [style]="getColSpanClass(fc)">
                                <ng-container
                                    *ngComponentOutlet="fc.column.lookup.type; inputs: {metroFormControl:fc, lookupSelected:lookupSelected};" />
                            </div>
                            }
                            @else {
                            <app-text-box-component class="flex flex-col h-full gap-y-1 text-xs" [metroFormControl]="fc"
                                [style]="getColSpanClass(fc)"></app-text-box-component>
                            }
                            }@empty {
                            <app-loading-spinner></app-loading-spinner>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>

        @if(detail2Properties){
        <!-- Detail-tabs -->
        <div class="flex">
            <nav
                class="flex overflow-x-auto items-center p-1 space-x-1 rtl:space-x-reverse text-sm text-gray-600 bg-gray-500/5 rounded-xl">
                <button role="tab" type="button"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none text-sky-800 hover:text-sky-400"
                    (click)="selectedDetailTabChanged(1)" [class.shadow]="selectedDetailTab === 1"
                    [class.bg-white]="selectedDetailTab === 1">
                    {{detailProperties.title}}
                </button>

                <button role="tab" type="button"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none text-sky-800 hover:text-sky-400"
                    (click)="selectedDetailTabChanged(2)" [class.shadow]="selectedDetailTab === 2"
                    [class.bg-white]="selectedDetailTab === 2">
                    {{detail2Properties.title}}
                </button>

                @if(detail3Properties){
                <button role="tab" type="button"
                    class="flex whitespace-nowrap items-center h-8 px-5 font-medium rounded-lg outline-none text-sky-800 hover:text-sky-400"
                    (click)="selectedDetailTabChanged(3)" [class.shadow]="selectedDetailTab === 3"
                    [class.bg-white]="selectedDetailTab === 3">
                    >
                    {{detail3Properties.title}}
                </button>
                }
            </nav>
        </div>
        }

        <!-- Detail-Grid -->
        @if(selectedDetailTab === 1){
        <app-metro-detail-data-grid #dataGrid [detailServiceResult]="detailServiceResult"
            [properties]="detailProperties" (onAdd)="add()" (onRemove)="remove($any($event))"
            (onEdit)="edit($any($event))" class="grow overflow-auto" style="min-height: 320px;">
        </app-metro-detail-data-grid>
        } @else if(selectedDetailTab === 2 && detail2Properties){
        <app-metro-detail-data-grid #dataGrid [detailServiceResult]="detail2ServiceResult"
            [properties]="detail2Properties" (onAdd)="add()" (onRemove)="remove($any($event))"
            (onEdit)="edit($any($event))" class="grow overflow-auto" style="min-height: 320px;">
        </app-metro-detail-data-grid>
        } @else if(selectedDetailTab === 3 && detail3Properties){
        <app-metro-detail-data-grid #dataGrid [detailServiceResult]="detail3ServiceResult"
            [properties]="detail3Properties" (onAdd)="add()" (onRemove)="remove($any($event))"
            (onEdit)="edit($any($event))" class="grow overflow-auto" style="min-height: 320px;">
        </app-metro-detail-data-grid>
        }

        <!-- Lookup-Footer -->
        <div class="pt-2 border-t border-slate-200">
            <div class="flex items-center justify-end gap-4 px-4">
                <button type="submit" (click)="submit()"
                    class="py-1 px-2 border border-green-500 text-green-500 hover:text-slate-50 hover:bg-green-500 rounded-md transition-all">
                    ثبت تغییرات
                </button>
                <button type="button" (click)="back()"
                    class="py-1 px-2 border border-red-500 text-red-500 hover:text-slate-50 hover:bg-red-500 rounded-md transition-all">
                    انصراف
                </button>
            </div>
        </div>

        @if(loading){
        <div class="overlay overlay--active" style="position: absolute;">
            <app-loading-spinner class="h-full"
                style="display: flex; justify-content: center; align-items: center;"></app-loading-spinner>
        </div>
        }
    </div>







    <app-question-modal [question]="question" (onChoosed)="onChoosed($any($event))"></app-question-modal>

</div>

@if(showDetailModal)
{
@if(selectedDetailTab === 1){
<app-detail-base-modal [properties]="detailProperties" [detailDto]="selectedDetailDto"
    (onSubmit)="submitDetailModal($any($event))" (onBack)="backDetailModal()"></app-detail-base-modal>
} @else if(selectedDetailTab === 2 && detail2Properties){
<app-detail-base-modal [properties]="detail2Properties" [detailDto]="selectedDetail2Dto"
    (onSubmit)="submitDetailModal($any($event))" (onBack)="backDetailModal()"></app-detail-base-modal>
} @else if(selectedDetailTab === 3 && detail3Properties){
<app-detail-base-modal [properties]="detail3Properties" [detailDto]="selectedDetail3Dto"
    (onSubmit)="submitDetailModal($any($event))" (onBack)="backDetailModal()"></app-detail-base-modal>
}

}