<!-- Breadcrumb -->
<!-- inspired by: https://dev.to/zhiyueyi/create-a-simple-breadcrumb-in-angular-ag5 -->
<div
    class="flex items-center gap-1 py-1 px-4 mb-2 text-sm font-YekanBakhSemiBold text-sky-600 bg-slate-200 rounded-md shadow-md max-w-fit">
    @for (breadcrumb of breadcrumbs; track $index) {
    @if($index === breadcrumbs.length - 1){
    <span class="border-b border-slate-200 transition-all">
        {{ breadcrumb.label}}
    </span>
    }
    @else {
    <span class="cursor-pointer hover:text-sky-700 border-b border-slate-200 transition-all"
        [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">{{ breadcrumb.label }}</span>
    <span>
        <svg class="w-4 h-4">
            <use href="#chevron-left"></use>
        </svg>
    </span>
    }
    }
    <!-- <span class="cursor-pointer hover:text-sky-700 border-b border-slate-200 transition-all">صفحه اصلی</span>
    <span>
        <svg class="w-4 h-4">
            <use href="#chevron-left"></use>
        </svg>
    </span>
    <span class="cursor-pointer hover:text-sky-700 border-b border-slate-200 transition-all">محصولات</span>
    <span>
        <svg class="w-4 h-4">
            <use href="#chevron-left"></use>
        </svg>
    </span>
    <span class="cursor-pointer hover:text-sky-700 border-b border-slate-200 transition-all">زیر منو 1</span> -->
</div>